<div class="row">
	<img src="img/hermosa.jpg" alt="beach,people" class="img-responsive">
</div>

<div class="row contact-page">
	<div class="col-xs-12 col-md-6 about">
		<h3>Sobre el Negocio</h3>
		<p><a href="/#">Foto & Gráfica</a> es el estudio de Diseño Gráfico y Fotografía de Irene Araya León.</p>
		<p>Es un negocio pequeño, localizado en San José, Costa Rica, cuyo principal objetivo es crear materiales fotográficos, impresos o web que ayuden a las personas a alcanzar sus objetivos: ya sean estos conservar un recuerdo familiar, mejorar la imagen de su negocio por medio de una nueva identidad de marca o una página web.</p>
		<p>Cada proyecto se trabaja con especial cuidado y atención, no importa del tamaño que sea, porque todos son importantes. Por eso, desde la primera reunión hasta la última entrega se trata de trabajar de la mano con los clientes, para siempre lograr el resultado que ellos esperan.</p>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="col-xs-6 col-md-12">
			<h3>Contacto</h3>
			<div class="control-group">
				<p>Email:</p>
				<p>irene.araya@gmail.com</p>
			</div>
			<div class="control-group">
				<p>Teléfono:</p>
				<p>(506)8812-5029</p>
			</div>
		</div>
		<div class="col-xs-6 col-md-12">
			<h3>Redes Sociales</h3>
			<div class="navbar">
				<ul class="nav navbar-nav social">
					<li class="social-list"><a href="https://www.facebook.com/irene.araya.foto"><i class="fa fa-facebook fa-lg"></i></a></li>
					<li class="social-list"><a href="https://www.facebook.com/irene.araya.foto"><i class="fa fa-instagram fa-lg"></i></a></li>
					<li class="social-list"><a href="https://www.facebook.com/irene.araya.foto"><i class="fa fa-google-plus fa-lg"></i></a></li>
					<li class="social-list"><a href="https://www.facebook.com/irene.araya.foto"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li class="social-list"><a href="https://www.facebook.com/irene.araya.foto"><i class="fa fa-pinterest-p fa-lg"></i></a></li>
				</ul>
			</div>	
		</div>	
	</div>
</div>