<div class="design-show">
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="design"><a href=""><img src="img/pz-tri.png" alt="logo"></a></li>
			<li class="design"><a href=""><img src="img/ilustracion01.png" alt="ilustracion01"></a></li>
			<li class="design"><a href=""><img src="img/precaucion.png" alt="ilustracion02"></a></li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="design"><a href=""><img src="img/arquitecta.png" alt="logo"></a></li>
			
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="pull-left">
			
		</ul>
	</div>
</div>