<div class="photo-show">
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="photo"><a href="" data-toggle="modal" data-target="#kidsModal"><img src="img/ninnos.jpg" alt="niños"></a></li>
			<li class="photo"><a href=""><img src="img/familias.jpg" alt="familia"></a></li>
			<li class="photo"><a href=""><img src="img/boda.jpg" alt="boda"></a></li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="photo"><a href=""><img src="img/embarazo.jpg" alt="embarazo"></a></li>
			<li class="photo"><a href=""><img src="img/photobooth.jpg" alt="photobooth"></a></li>
			<li class="photo"><a href=""><img src="img/deportes.jpg" alt="deportes"></a></li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="photo"><a href=""><img src="img/lugares.jpg" alt="lugares"></a></li>
			<li class="photo"><a href=""><img src="img/publicitaria.jpg" alt="publicitaria"></a></li>
			<li class="photo"><a href=""><img src="img/eventos.jpg" alt="eventos"></a></li>
		</ul>
	</div>
</div>

<div id="kidsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fotografía Infantil</h4>
      </div>
      <div class="modal-body">
        
      </div>
    </div>

  </div>
</div>