<div class="photo-show">
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="photo thumbnail">
				<a href="" data-toggle="modal" data-target="#kidsModal">
					<img src="img/ninnos.jpg" alt="niños">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Niños</h4>
				</div>
			</li>
			<li class="photo thumbnail">
				<a href="">
					<img src="img/familias.jpg" alt="familia">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Familias</h4>
				</div>
			</li>
			<li class="photo thumbnail">
				<a href="">
					<img src="img/boda.jpg" alt="boda">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Bodas</h4>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="photo thumbnail">
				<a href="">
					<img src="img/embarazo.jpg" alt="embarazo">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Embarazos</h4>
				</div>
			</li>
			<li class="photo thumbnail">
				<a href="">
					<img src="img/photobooth.jpg" alt="photobooth">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Photobooth</h4>
				</div>
			</li>
			<li class="photo thumbnail">
				<a href="">
					<img src="img/deportes.jpg" alt="deportes">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Deportes</h4>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<ul class="pull-left">
			<li class="photo thumbnail">
				<a href="">
					<img src="img/lugares.jpg" alt="lugares">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Lugares</h4>
				</div>
			</li>
			<li class="photo thumbnail">
				<a href="">
					<img src="img/publicitaria.jpg" alt="publicitaria">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Publicitaria</h4>
				</div>
			</li>
			<li class="photo thumbnail">
				<a href="">
					<img src="img/eventos.jpg" alt="eventos">
				</a>
				<div class="caption" id="caption-up">
					<h4 class="text-info">Eventos</h4>
				</div>
			</li>
		</ul>
	</div>
</div>

<div id="kidsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fotografía Infantil</h4>
      </div>
      <div class="modal-body">
      	<div class="row kids-row">
        	<div class="col-xs-4">
        		<img src="img/mauro.jpg" alt="fotos infantiles">
        	</div>
        	<div class="col-xs-4">
        		<img src="img/niko.jpg" alt="fotos infantiles">
        	</div>
        	<div class="col-xs-4">
        		<img src="img/sofi.jpg" alt="fotos infantiles">
        	</div>
        </div>
        <div class="row kids-row">
        	<div class="col-xs-4">
        		<img src="img/manaLeyendo.jpg" alt="fotos infantiles">
        	</div>
        	<div class="col-xs-4">
        		<img src="img/YanOwen.jpg" alt="fotos infantiles">
        	</div>
        	<div class="col-xs-4">
        		<img src="img/emmaAli.jpg" alt="fotos infantiles">
        	</div>
        </div>
      </div>
    </div>

  </div>
</div>