body{
  background: #ecf0f1;
  color: #34495e;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
max-width: 100%;
height: auto
}

.navbar-nav{
  float: none;
}

.navbar-toggle{
  margin-top: 35px;
}

.nav>li>a{
  display: inline-block;
  font-weight: bold;
  color: #2c3e50;
}

.nav>li>a:hover{
  background: none;
  font-weight: bold;
  color: #8B2A73;
}

.nav-list{
  border-top: solid 1px #2c3e50;
}

.nav-list:first-of-type{
  border-top: 0;
}

.nav .navbar-nav{
  float: left;
  border: solid 1px #2c3e50;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    max-height: none;
  }
  .main-nav{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }
  .sidebar-nav .navbar .site-nav ul {
    width: 200px;
    display: inline-block;
  }
  .sidebar-nav .navbar .site-nav li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar .site-nav li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar-brand{
    float: none;
    width: 200px;
  }
  .navbar-nav{
    margin-top: 20px;
  }

  .nav .navbar-nav .social li{
  float: left;
  }

}  

.slider-container{
  margin-top: 30px;
}

.slide{
  overflow: hidden;
  margin-bottom: 25px;
}

.no-padding{
  padding: 0 !important;
}

.left-slide{
  margin-right: 25px;
}

.design-slider{
  
}

.overlay{
  position: absolute;
  top: 0;
  width: 410px; 
  height: 420px;
  margin: 0 auto;
  padding-top:40%;
  background: #006280;
  font-size: 70px;
  color: #ecf0f1;
}

.contact-page h3{
  padding-top: 30px;
  color: #F47A20;
}

.about{
  border-right: solid 1px #2c3e50;
}

.photo-show, .design-show{
  margin-top: 40px;
}

.photo, .design{
  padding-bottom: 25px;
}

footer{
  margin-top: 30px;
}


