.cf:before, .cf:after{
  		content: '';
		display: table;
}

.cf:after{
  	clear: both;
}

.navbar{
	padding: 10px 15px 10px 25px;
	background: #4b4b4b;
}

.navbar-header{
	padding: 15px 0;
}

a.navbar-brand{
	font-size: 24px;
	font-weight: 500;
	color: #ffffff;
}

.navbar-brand:hover{
	color: #95a5a6;
}

.navbar-nav li{
	padding-right: 40px;
}

.navbar-nav li:last-child{
	padding-right: 0;
}

.first-row{
	margin-top: 200px;
}

.panel-container{
	width:450px;
	height:450px;
	margin-bottom: 60px;
}

.chat-panel{
	background-color: rgba(229, 101, 57, 1.0);
}

.panel-heading{
	padding: 10px;
	background-color: rgba(252, 252, 252,0.4);
}

.panel-body ul{
	margin: 30px 40px 10px 40px;
}

.chatRoom{
	height:180px;
	background: #fff;
	border: solid 1px #8e44ad;
	border-radius: 5px;
	padding: 10px;
	overflow: scroll;
}

li{
	list-style: none;
}

.frmGroup{
	width: 240px;
	margin-top: 20px;
}

.txtInputSmall{
	width: 100%;
	margin-top: 10px;
	border: solid 1px #8e44ad;
	border-radius: 5px;
	padding: 10px;
	
	color: #2c3e50;
}

.btnSaveChat{
	background-color: transparent;
	border: none;
}