<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Categorías</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Frutas</a>
						<ul class="dropdown-menu">
							<li>Banano</li>
							<li>Manzana</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tubérculos</a>
						<ul class="dropdown-menu">
							<li>Chufa</li>
							<li>Tiquisque</li>
						</ul>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Verduras</a>
						<ul class="dropdown-menu">
							<li>Pepino</li>
							<li>Chayote</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>